.navbar {
    background-color: #05386b !important;
}

/* body{
    background: #edf5e1;
    margin-top:20px;
} */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin: 20px; */
    width: 100%;
}

.card {
    margin: 2rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0 rgba(51, 44, 41, 0.4);

}
.card {
    margin-bottom: 30px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}
.card-header {
    color: white !important;
    background: #05386b !important;
    word-wrap: break-word;
}

.header-text {
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.card-header:hover {
    color: black !important;
    background: #379683 !important;
}

.col-md-3 {
    margin-top: 2rem;
}

/* 
 @media (max-width:767.98px) {
     .note-has-grid .single-note-item {
         max-width: 100%
     }
 }

 @media (max-width:991.98px) {
     .note-has-grid .single-note-item {
         max-width: 216px
     }
 } */
