{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h2>{{references.title}}</h2>
            </div>

            <div>
            <a href="localhost:8000{{MEDIA_URL}}{{references.file.url}}" target="_blank" class="btn btn-outline-warning">View</a>
           
            <a href="localhost:8000{{MEDIA_URL}}{{references.file.url}}" download class="btn btn-outline-info">Download</a>
            </div>
            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{references.description}}
            </p>
            <hr>
        </div>

    </div>

</section>

{% endblock content %}